.audio {
    width: 95%;
}

.duration {
    text-align: right;
    font-size: 12px;
}

.video {
    object-fit: fill;
}

.video_container {
    flex: 1;
    height: 70%;
}

.me::-webkit-media-controls-panel {
    background: var(--secondary);
    color: aliceblue;
}

.other::-webkit-media-controls-panel {
    background: var(--primary);
    color: aliceblue;
}