.audio {
    width: 95%;
}

.video {
    object-fit: contain;
}
.video_container{
    flex: 1;
    height: 70%;
}
.me::-webkit-media-controls-panel {
    background: var(--secondary);
    color: aliceblue;
}

.other::-webkit-media-controls-panel {
    background: var(--primary);
    color: aliceblue;
}