.camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.video {
    width: 98%;
    height: 100%;
    object-fit: fill;
}

.picture {
    visibility: hidden;
    width: 100%;
    height: 0;
}

.canvas {
    width: 100%;
    height: 100%;
}

.buttons_panel {
    display: flex;
    position: absolute;
    bottom: 5%;
}

.button {
    background: whitesmoke;
    height: 30px;
    margin-right: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.recording_icon {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.button_recording {
    background: red;
    border-radius: 50%;
    cursor: pointer;

}

.hasPhoto {
    visibility: visible;
    height: 90%;
}