.speech_bubble {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    margin-bottom: 25px;
    min-width: 60%;
    max-width: 80%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.details {
    display: flex;
    flex-direction: column;
}

.time_stamp {
    align-self: flex-end;
}

.me {
    background: #94BFE9;
    border-top-color: #94BFE9;
    margin-left: auto;

}

.other {
    background: #EFEAE2;
    border-top-color: #EFEAE2;
    margin-right: auto;
}

.speech_bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}