.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    justify-content: flex-start !important;
}

.icon {
    font-size: 26px;
    color: var(--secondary-light);
}