.container {
    background: #ffffff;
    bottom: -1px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 200px;
    padding: 10px;
    overflow: hidden;
}

.details {
    width: 80%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content_container {
    min-width: 80%;
    font-size: 13px;
    flex: 1;
    background: #E5E7EA;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    border-left: 5px solid green;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.content {
    flex: 1;
    overflow: hidden;
    max-height: 65px;
    text-align: left;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.creator {
    font-weight: 500;
    width: 100%;
    text-align: left;
    color: green;
}

.icon {
    color: #8696A0
}