.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.post_container__home {
    position: relative;
}

.post_footer_container__home {
    position: absolute;
    height: 70%;
}

.post_footer_icon_container__home {
    flex-direction: column;
    height: 70%;
}
.icon_inner_container__home {
    position: relative;
}