.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_root fieldset {
    border: none;
}

.input_root input {
    width: 100%;
    height: 100%;
}
.input_root div {
    width: 100%;
    height: 100%;
}

.input_root {
    border: none;
    align-items: center;
    background: var(--primary-light);
    border-radius: 25px;
    height: 40px;
    flex: 1;
}

.button {
    background-color: var(--primary-light) !important;
    color: var(--other-color) !important;
}