.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_root fieldset {
    border: 1px solid var(--other-color);
    border-radius: 25px;
}

.input_root input {
    width: 100%;
    height: 100%;
}

.input_root div {
    width: 100%;
    height: 100%;
}

.input_root {
    border: none;
    align-items: center;
    background: var(--light-background);
    height: 40px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    border: 1px solid var(--other-color);
    color: var(--primary-light);
}