.container {
    display: flex;
    flex-direction: column;
    padding: 2.5% 10px;
    padding-bottom: 0;
    width: 95%;
    height: 90%;
}

.me_container {
    width: 80%;
    padding: 1vh;
}

.text_area {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 75%;
    flex: 1;
    overflow: scroll;
    border: 1px solid #d1cbcb;
}