.speech_bubble_me {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    margin-bottom: 25px;
    min-width: 75%;
    max-width: 80%;
    box-shadow: var(--box-shadow);
}

.speech_bubble_other {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    margin-bottom: 25px;
    min-width: 75%;
    max-width: 80%;
    box-shadow: var(--box-shadow);
}

.image {
    box-shadow: var(--box-shadow);
    ;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: thin solid var(--other-color);
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.selected {
    background-color: var(--hight-light-bubble) !important;
    border-top-color: var(--hight-light-bubble) !important;
}

.container {
    padding: 5px;
    display: flex;
    width: 95%;
}

.time_stamp {
    align-self: flex-end;
    font-size: .7rem;
}

.me {
    background-color: var(--me-color);
    border-top-color: var(--me-color);
    margin-left: auto;
    transition: background-color .5s linear;

}

.other {
    background-color: var(--other-color);
    border-top-color: var(--other-color);
    margin-right: auto;
    transition: background-color 1s linear;
}

.speech_bubble_me:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}

.speech_bubble_other:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}