.speech_bubble_me {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    min-width: 75%;
    max-width: 80%;
    box-shadow: var(--box-shadow);
}

.speech_bubble_other {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    min-width: 75%;
    max-width: 80%;
    box-shadow: var(--box-shadow);
}

.image {
    box-shadow: var(--box-shadow);
    ;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: thin solid var(--secondary);
}
.speech_container{ padding: 16px; width: 100%; }
.details {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.selected {
    background-color: var(--hight-light-bubble) !important;
    border-top-color: var(--hight-light-bubble) !important;
}

.container {
    padding: 5px;
    display: flex;
    width: 95%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 15px;
    height: 15px;
}

.time_stamp {
    align-self: flex-end;
    font-size: .7rem;
}

.me {
    background-color: var(--primary);
    border-top-color: var(--primary);
    margin-left: auto;
    transition: background-color .5s linear;

}
.sender_me {
    color: var(--secondary);
}

.sender_other {
    color: var(--primary);
}
.other {
    background-color: var(--secondary);
    border-top-color: var(--secondary);
    margin-right: auto;
    transition: background-color 1s linear;
}

.speech_bubble_me:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}

.speech_bubble_other:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}