.speech_bubble_me {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    width: 100%;
   
    box-shadow: var(--box-shadow);
}

.list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    min-height: 80% !important;
    -webkit-transition: all .3s, -webkit-transform .3s;
    transition: all .3s, -webkit-transform .3s;
    flex: 1;
    overflow-y: scroll;
    overflow-X: hidden;
    border: 1px solid #d1cbcb;
}
.emoji{
    font-size: 15px;
}
.me_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
}
.not_me_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
}

.fab {
    right: 10px !important;
    z-index: 1 !important;
    position: absolute !important;
    bottom: 25px !important;
    width: 35px !important;
    height: 25px !important;
}

.last_item {
    width: 100%;
}

.speech_bubble_other {
    min-height: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.image {
    box-shadow: var(--box-shadow);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: thin solid var(--secondary);
}

.message_container {
    width: 100%;
}

.speech_container {
    padding: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: 250px;
}

.selected {
    background-color: var(--hight-light-bubble) !important;
    border-top-color: var(--hight-light-bubble) !important;
}

.container {
    padding: 5px;
    display: flex;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 15px;
    height: 15px;
}

.time_stamp {
    align-self: flex-end;
    font-size: .7rem;
}

.me {
    background-color: var(--primary);
    border-top-color: var(--primary);
    margin-left: auto;
    transition: background-color .5s linear;

}

.sender_me {
    color: var(--secondary);
}

.sender_other {
    color: var(--primary);
}

.other {
    background-color: var(--secondary);
    border-top-color: var(--secondary);
    margin-right: auto;
    transition: background-color 1s linear;
}

.speech_bubble_me:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}

.speech_bubble_other:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    margin-bottom: -10px;

}