.container {
    height: 100%;
    scroll-snap-align: start;
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.skeleton {
    display: none;
}

.speedDaild_container {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.views {
    background-color: rgba(189, 195, 199, 0.3);
    color: whitesmoke;
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 0.25em;
    z-index: 10;
}