.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.video {
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.email {
    width: 100%;
    text-align: center;
}