.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    overflow: scroll;
    overflow-x: hidden;
    height: 75%;
}

.following_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.video_footer_inner_icon_container_wall {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 1vh;
}
.video_footer_icon_container_wall{
    justify-content: initial;
}
.video_footer_wall {
    position: relative;
    padding: 0px;
    bottom: 30px;
}

.video_footer_icon_wall {
    position: relative;
    top: initial;
    font-size: 30px;
}

.following_link {
    color: blue;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 3vh;
}

.icon_number__wall {
    bottom: 0px;
}

.following {
    margin-left: 1vh;
}

.image__wall {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.post {
    width: 30%;
    margin-bottom: 2vh;
    height: 150px;
}