
.details {
    display: flex;
    width: 100%;
}

.container {
    height: auto;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.date {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.mini_me_container {
    width: 70%;
}