.container {
    bottom: 0; 
    position: absolute;
    -webkit-transition: all .3s, -webkit-transform .3s;
    transition: all .3s, transform .3s;
    height: 100%;
    width: 100%;
    background: white;
}

.container_close {
    right: -100%;
    opacity: 0;
}

.container_open {
    right: 0;
    opacity: 1;
}