.container {
    position: absolute;
    -webkit-transition: all .5s, -webkit-transform 1s;
    transition: all 1s, transform .5s;
    height: 100%;
    width: 100%;
    background: white;
}

.container_close {
    bottom: -100%;
    opacity: 0;
}

.container_open {
    bottom: 0;
    opacity: 1;
}

.icon {
    font-size: 24px;
    padding-top: 5px;
    padding-left: 5px;
}