.me_email {
    display: none;
}

.me_image {
    width: 40px;
    height: 40px;
}

.me_container {
    margin: 0;
}

.me_video {
    width: 40px;
    height: 40px;
}

.icon {
    width: 22px;
    height: 22px;
}