.read_more_button {
    padding-top: .5vh;
    background: transparent;
    border: none;
    outline: none;
}

.content_overflow_close {
    max-height: 4vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.content_overflow_open {
    height: 100%;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.read_more_button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}